---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- 
			w-max 	 // width: max-content;
			w-min 	 // width: min-content;
			w-1/4 	 // width: 25%;
			w-1/2 	 // width: 50%;
			w-full   // width: 100%;
			h-screen // height: 100vh;
			text-5xl 		// font size
			flex 	 		// display: flex;
			flex-row		// flex-direction: row;
			flex-col		// flex-direction: column;
			items-center 	// aling-items: center;
			justify-center 	// justify-content: center;
			font-sans		// font-family: sans-serif;


			<Icon name="mdi:alien" />

		-->
    <div class="bg-black h-1"></div>
    <nav class="flex h-16 items-center justify-evenly font-sans">
      <div class="flex">POFO</div>
      <div class="flex">
        <div class="flex m-2">HOME</div>
        <div class="flex m-2">PAGES</div>
        <div class="flex m-2">PORTAFOLIO</div>
        <div class="flex m-2">BLOG</div>
        <div class="flex m-2">ELEMENTS</div>
        <div class="flex m-2">FEATURES</div>
        <Icon name="ph:magnifying-glass-bold" class="flex mt-3 items-center" />
      </div>
    </nav>
    <div
      class="flex justify-center bg-[url(https://c8.alamy.com/compes/j7djne/jovenes-sentados-en-una-cafeteria-y-hablando-grupo-de-amigos-juntos-tomando-cafe-en-una-cafeteria-j7djne.jpg)] bg-cover h-96"
    >
      <div class="flex w-96 bg-green-400 flex-col justify-center items-center">
        <div class="m-3">we combined desing, thinking and tecnical craft</div>
        <div class="m-3">CRAFTING DIGITAL EXPERIENCES</div>
        <div
          class="rounded-full m-3 w-40 justify-center items-center text-xs h-8 bg-white font-medium"
        >
          <p>PURCHASE NOW</p>
        </div>
      </div>
    </div>
  </body>

  <slot />
</html>

<style is:global></style>
